.page-container {
    max-width: 960px;
    margin: 0 auto;
}
.menu {
    font-size: 1em;
    margin-top: 2em;
}
.menu dl.sub-nav dd a {
    color: #007ba1;
}
.button.wide {
    width: 100%;
}
table.card-info thead tr th,
table.card-info tfoot tr th,
table.card-info tbody tr td,
table.card-info tr td,
table.card-info tfoot tr td {
    font-size: 0.7em;
}