{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="row">
            <div class="large-7 large-centered columns">
                <div data-alert class="alert-box secondary">
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <a href="#" class="close">&times;</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}