{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="large-12 small-12 columns">
            <h3>{{ title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="ui form segment">
            <form method="post" action="" id="form">
                {% for field in form %}
                    {% if field.type == "SelectField" %}
                        <div class="field">
                            {{ field.label }}
                            <div class="ui selection dropdown fluid">
                                <div class="text">Select</div>
                                <i class="dropdown icon"></i>
                                <input type="hidden" name="{{ field.name }}">

                                <div class="menu">
                                    {% for subfield in field %}
                                        <div class="item"
                                             data-value="{{ subfield.data }}">{{ subfield.label }}</div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                    {% else %}
                        <div class="field">
                            {{ render_field(field) }}
                        </div>
                    {% endif %}
                {% endfor %}
                <a onclick='form.submit(); return false;' class="ui blue submit button">Submit</a>
            </form>
        </div>
    </div>
    <div class="row">
        {% if result %}
            {% block table_report %}
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}