{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="large-12 small-12 columns">
            <h3>{{ title }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-3 small-3 columns">
            <form method="post" action="" id="form">
                {% for field in form %}
                    {{ render_field(field) }}
                {% endfor %}
                <a href="#" onclick='form.submit()' class="button tiny success wide">Submit</a>
            </form>
        </div>
        <div class="large-9 small-9 columns">
        {% if result %}
            {% block table_report %}
            {% endblock %}
        {% endif %}
        </div>
    </div>
{% endblock %}